<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <app-tabla></app-tabla>
        </div>
        <div class="col-md-6">
            <app-formulario vista="listar"></app-formulario>
        </div>
    </div>
</div>