table {
    width: 100%;
}

.scrolling {
    height: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

tr:hover {
    background-color: #c8c8c8;
    cursor: pointer;
}

th {
    background-color: #01ad6b;
    color: white;
}