<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="scrolling mat-elevation-z12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z12">

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="capitalize" align=left> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="primer_apellido">
                        <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                        <td mat-cell *matCellDef="let element" class="capitalize" align=left> {{element.primer_apellido}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="segundo_apellido">
                        <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                        <td mat-cell *matCellDef="let element" class="capitalize" align=left> {{element.segundo_apellido}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estatus">
                        <th mat-header-cell *matHeaderCellDef> Estatus </th>
                        <td mat-cell *matCellDef="let element"> {{element.estatus}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <!-- <tr mat-row *matRowDef="let element; columns: displayedColumns;" (click)="loadProspecto($event)"></tr> -->
                    <tr mat-row (click)="loadProspecto(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</div>