<nav class="navbar navbar-expand-lg color-bg-primary mat-elevation-z10">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button mat-icon-button routerLink="/" routerLinkActive="active">
                                <img src="../../../assets/logo.png" width="40px" alt="" srcset="">
                              </button>
                <span class="color-accent">ConCrédito</span>
            </div>
            <div class="col-md-3">
                <button mat-button routerLink="crear" routerLinkActive="active">CAPTURA DE PROSPECTO</button>
            </div>
            <div class="col-md-3">
                <button mat-button routerLink="listar" routerLinkActive="active">LISTADO DE PROSPECTOS</button>
            </div>
            <div class="col-md-3">
                <button mat-button routerLink="evaluar" routerLinkActive="active">EVALUACIÓN DE PROSPECTO</button>
            </div>
        </div>
    </div>
</nav>