<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-6">
            <app-tabla></app-tabla>
        </div>

        <div class="col-md-6">
            <app-formulario vista="Evaluar"></app-formulario>


            <div class="container">
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="evalForm">
                            <mat-card class="mat-elevation-z8">
                                <mat-radio-group formControlName="estatus">
                                    <mat-radio-button value="A">Autorizar</mat-radio-button>
                                    <mat-radio-button value="R">Rechazar</mat-radio-button>
                                </mat-radio-group>
                                <div class="col-md-12">
                                    <mat-form-field appearance="legacy" class="input-100">
                                        <mat-label>Observaciones</mat-label>
                                        <textarea matInput formControlName="observaciones" class="capitalize" rows="2" placeholder="Observaciones"></textarea>
                                        <mat-hint>{{getError('observaciones')}}</mat-hint>
                                    </mat-form-field>
                                </div>
                                <mat-divider></mat-divider>
                                <mat-card-footer class="p-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button mat-raised-button type="button" class="color-bg-primary color-accent" (click)="confirm('Guardar')" [disabled]="evalForm.invalid">
                                                Enviar
                                                <mat-icon>send</mat-icon>
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button mat-raised-button class="color-bg-danger color-accent" (click)="confirm('Salir')">
                                                Salir
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-footer>
                            </mat-card>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>