<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="formulario">
                <mat-card class="mat-elevation-z8">
                    <mat-card-title>Información del Prospecto</mat-card-title>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nombre" class="capitalize" placeholder="Nombre">
                                    <mat-hint>{{getError('nombre')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Primer Apellido</mat-label>
                                    <input matInput formControlName="primer_apellido" class="capitalize" placeholder="Primer Apellido">
                                    <mat-hint>{{getError('primer_apellido')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Segundo Apellido</mat-label>
                                    <input matInput formControlName="segundo_apellido" class="capitalize" placeholder="Segundo Apellido">
                                    <mat-hint>{{getError('segundo_apellido')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>RFC</mat-label>
                                    <input matInput formControlName="rfc" mask="AAAAAAAAAAAAA" class="uppercase" placeholder="RFC">
                                    <mat-hint>{{getError('rfc')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput formControlName="telefono" mask='(000) 000-0000' placeholder="Teléfono">
                                    <mat-hint>{{getError('telefono')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Calle</mat-label>
                                    <input matInput formControlName="calle" class="capitalize" placeholder="Calle">
                                    <mat-hint>{{getError('calle')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Número</mat-label>
                                    <input matInput formControlName="numero" prefix="# " mask='00000' placeholder="Número">
                                    <mat-hint>{{getError('numero')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-8">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Colonia</mat-label>
                                    <input matInput formControlName="colonia" class="capitalize" placeholder="Colonia">
                                    <mat-hint>{{getError('colonia')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Código Postal</mat-label>
                                    <input matInput formControlName="cp" mask='00000' placeholder="Código Postal">
                                    <mat-hint>{{getError('cp')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12" [hidden]="isVisible">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>Estatus</mat-label>
                                    <input matInput formControlName="estatus" placeholder="Estatus">
                                    <mat-hint>{{getError('estatus')}}</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12" [hidden]="isVisible">
                                <mat-form-field appearance="legacy" class="input-100">
                                    <mat-label>observaciones</mat-label>
                                    <textarea matInput formControlName="observaciones" class="capitalize" rows="2" placeholder="Observaciones"></textarea>
                                    <mat-hint>{{getError('observaciones')}}</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions [hidden]="!isVisible">
                        <mat-divider></mat-divider>
                        <div class="col-md-12 col-sm-12 file-select" id="src-file1">
                            <input type="file" name="src-file1" (change)="cargarArchivo($event.target)" aria-label="Archivo" accept="application/pdf" multiple="multiple" title="" style="cursor: pointer">
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12 mt-2">
                            <ul>
                                <li *ngFor="let archivo of archivos">
                                    <div class="row">
                                        <div class="col-xl-8 col-md-6 col-sm-6">
                                            {{archivo.name}}
                                        </div>
                                        <div class="col-xl-4 col-md-6 col-sm-6">
                                            <mat-icon class="color-danger" (click)="borrarFile(archivo.name)" style="cursor: pointer; color:red;">clear</mat-icon>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </mat-card-actions>
                    <mat-card-actions [hidden]="isVisible">
                        <mat-divider></mat-divider>
                        <h2>Documentación</h2>
                        <div class="row container-fluid">
                            <ol>
                                <div class="col-md-12" *ngFor="let file of files">
                                    <li><a [download]="file.name" [href]="file.base | safe" target="_blank" [type]="type" [title]="file.name">{{file.name}}</a></li>
                                </div>
                            </ol>
                        </div>
                    </mat-card-actions>
                    <mat-card-footer class="p-3" [hidden]="!isVisible">
                        <mat-divider></mat-divider>
                        <div class="row">
                            <div class="col-md-6">
                                <button mat-raised-button type="button" class="color-bg-primary color-accent" (click)="confirm('Guardar')" [disabled]="formulario.invalid">
                                    Enviar
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button class="color-bg-danger color-accent" (click)="confirm('Salir')">
                                    <mat-icon>cancel</mat-icon>
                                    Salir</button>
                            </div>
                        </div>
                    </mat-card-footer>
                </mat-card>
            </form>
        </div>
    </div>
</div>