.file-select {
    position: relative;
    display: inline-block;
}

.file-select::before {
    background-color: #2374B6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    left: 0;
    right: 1em;
    top: 0;
    bottom: 0;
    margin-left: 1em;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: inline-block;
}

#src-file1::before {
    content: 'Agregar Documentos';
}