@use '@angular/material' as mat;
$my-primary: mat.define-palette(mat.$green-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);