/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f3f3f3;
}

.color-bg-primary {
    background-color: #01ad6b;
}

.color-bg-danger {
    background-color: tomato;
}

.color-primary {
    color: #01ad6b;
}

.color-accent {
    color: white;
}

.input-100 {
    width: 100%;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle {
    border-color: #01ad6b !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #01ad6b !important;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #01ad6b !important;
}